
/* General Selectors */

body {
    font-family: 'Quicksand', sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    width: 40%;
    text-align: left;
    margin: auto;
    padding: 5px;
}

h2 {
    padding: 0px 10px 0px 10px;
}

/* Class Selectors */

.heading {
    margin: auto;
    background-color: white;
    text-align: center;
}

.container {
    margin: auto;
    padding: 10px 0px 10px 0px;
    background-color: grey;
}

.card {
    margin: auto;
    width: 40%;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header p {
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: grey;
    margin-right: 10px;
}

.card-footer p {
    padding: 0px 10px 10px 10px;
}
